/*
 * Gridrealm Stylesheet
 *
 * (c) Copyright 2018 - Curtis Sand, Dennison Gaetz, All Rights Reserved.
 */

$body-bg: #231f20;
$body-color: #f8f9fa;

.tiled_bg {
  background-image: url(../../_assets/lpbg.svg);
}

$dark: #231f20;
$font-size-base: 0.7rem;

@import "bootstrap";
