{% extends "base.html" %}
{% block content %}
<div class="col-8 no-gutters"> <!-- left two thirds wide column -->
  <div class="row border mx-auto no-gutters">
    <div class="container-fluid" id="action-panel">
      {% block action_panel %}
      <div class="row no-gutters mx-auto" id="ap-image"></div>
      <div class="row no-gutters mx-auto" id="ap-description"></div>
      <div class="row no-gutters mx-auto" id="ap-actions"></div>
      {% endblock action_panel %}
    </div>
  </div>

  <div class="row border mx-auto no-gutters">
    <div class="container-fluid" id="chat-panel"
         style="overflow-y: auto;">
      {% block chat_panel %}
      <ul id="sys-msgs">
      </ul>
      {% endblock chat_panel %}
    </div>
  </div>
</div>
<div class="col-4 border no-gutters"> <!-- left 1 third wide column -->
  <div id="multi-panel" class="row mx-auto no-gutters w-100">
    <!-- {% block multi_panel %}
    {% endblock multi_panel %} -->
    {% include 'multi_panel.html' %}
  </div>
</div>
{% endblock content %}

{% block navbar_right %}
<a href="{{ url_for('logout') }}" id="logout-lnk"></a>
{% endblock navbar_right %}

{% block debug %}
<div id="size-record"></div>
{% endblock debug %}
