{% extends "client.html" %}
{% block modals %}
<div class="modal fade" id="debug_modal" tabindex="-1" role="dialog" aria-labelledby="debug_modal_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="debug_modal_title">Debug Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="size-record"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock modals %}
{% block navbar_left %}
{{ super() }}
&nbsp;
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#debug_modal">Debug</button>
{% endblock navbar_left %}
